# No whitespace after the comma or in your part name!
config SHIELD_Kyria_LEFT
    def_bool $(shields_list_contains,Kyria_left)

# No whitespace after the comma or in your part name!
config SHIELD_Kyria_RIGHT
    def_bool $(shields_list_contains,Kyria_right)


CONFIG_ZMK_SOFT_OFF=y
