#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Kyria";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  106       0     0   106>
            , <&key_physical_attrs 100 100  105  106       0   105   106>
            , <&key_physical_attrs 100 100  211   35       0   211    35>
            , <&key_physical_attrs 100 100  317    0       0   317     0>
            , <&key_physical_attrs 100 100  422   42       0   422    42>
            , <&key_physical_attrs 100 100  528   53       0   528    53>
            , <&key_physical_attrs 100 100 1125   53       0  1125    53>
            , <&key_physical_attrs 100 100 1231   42       0  1231    42>
            , <&key_physical_attrs 100 100 1336    0       0  1336     0>
            , <&key_physical_attrs 100 100 1442   35       0  1442    35>
            , <&key_physical_attrs 100 100 1549  106       0  1549   106>
            , <&key_physical_attrs 100 100 1653  106       0  1653   106>
            , <&key_physical_attrs 100 100    1  218       0     1   218>
            , <&key_physical_attrs 100 100  106  218       0   106   218>
            , <&key_physical_attrs 100 100  212  147       0   212   147>
            , <&key_physical_attrs 100 100  316  112       0   316   112>
            , <&key_physical_attrs 100 100  423  153       0   423   153>
            , <&key_physical_attrs 100 100  528  165       0   528   165>
            , <&key_physical_attrs 100 100 1125  165       0  1125   165>
            , <&key_physical_attrs 100 100 1230  153       0  1230   153>
            , <&key_physical_attrs 100 100 1337  112       0  1337   112>
            , <&key_physical_attrs 100 100 1441  147       0  1441   147>
            , <&key_physical_attrs 100 100 1548  218       0  1548   218>
            , <&key_physical_attrs 100 100 1652  218       0  1652   218>
            , <&key_physical_attrs 100 100    1  330       0     1   330>
            , <&key_physical_attrs 100 100  106  330       0   106   330>
            , <&key_physical_attrs 100 100  212  259       0   212   259>
            , <&key_physical_attrs 100 100  316  224       0   316   224>
            , <&key_physical_attrs 100 100  423  265       0   423   265>
            , <&key_physical_attrs 100 100  528  276       0   528   276>
            , <&key_physical_attrs 100 100 1125  276       0  1125   276>
            , <&key_physical_attrs 100 100 1230  265       0  1230   265>
            , <&key_physical_attrs 100 100 1337  224       0  1337   224>
            , <&key_physical_attrs 100 100 1441  259       0  1441   259>
            , <&key_physical_attrs 100 100 1547  330       0  1547   330>
            , <&key_physical_attrs 100 100 1652  330       0  1652   330>
            , <&key_physical_attrs 100 100    1  447       0     1   447>
            , <&key_physical_attrs 100 100  106  447       0   106   447>
            , <&key_physical_attrs 100 100  212  376       0   212   376>
            , <&key_physical_attrs 100 100  316  341       0   316   341>
            , <&key_physical_attrs 100 100  423  382       0   423   382>
            , <&key_physical_attrs 100 100  528  393       0   528   393>
            , <&key_physical_attrs 100 100 1125  393       0  1125   393>
            , <&key_physical_attrs 100 100 1230  382       0  1230   382>
            , <&key_physical_attrs 100 100 1337  341       0  1337   341>
            , <&key_physical_attrs 100 100 1441  376       0  1441   376>
            , <&key_physical_attrs 100 100 1547  447       0  1547   447>
            , <&key_physical_attrs 100 100 1652  447       0  1652   447>
            , <&key_physical_attrs 100 100  355  501       0   355   501>
            , <&key_physical_attrs 100 100  474  516    1500   524   566>
            , <&key_physical_attrs 100 200  584  465    3000   634   614>
            , <&key_physical_attrs 100 100  678  641    4500   728   691>
            , <&key_physical_attrs 100 100  753  561    4500   803   611>
            , <&key_physical_attrs 100 100  900  561 (-4500)   950   611>
            , <&key_physical_attrs 100 100  975  641 (-4500)  1025   691>
            , <&key_physical_attrs 100 200 1069  465 (-3000)  1119   614>
            , <&key_physical_attrs 100 100 1179  516 (-1500)  1229   566>
            , <&key_physical_attrs 100 100 1300  501       0  1300   501>
            , <&key_physical_attrs 100 100  125  616       0   125   616>
            , <&key_physical_attrs 100 100  225  516       0   225   516>
            , <&key_physical_attrs 100 100  225  616       0   225   616>
            , <&key_physical_attrs 100 100  225  716       0   225   716>
            , <&key_physical_attrs 100 100  325  616       0   325   616>
            , <&key_physical_attrs 100 100 1330  616       0  1330   616>
            , <&key_physical_attrs 100 100 1430  716       0  1430   716>
            , <&key_physical_attrs 100 100 1430  616       0  1430   616>
            , <&key_physical_attrs 100 100 1430  516       0  1430   516>
            , <&key_physical_attrs 100 100 1530  616       0  1530   616>
            ;
    };
};