if SHIELD_Klor_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Klor"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Klor_LEFT || SHIELD_Klor_RIGHT

config ZMK_SPLIT
    default y

endif

