#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Klor";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
= <&key_physical_attrs 100 100   90  147 (-1000)   140   197>
            , <&key_physical_attrs 100 100  212   61  (-400)   262   111>
            , <&key_physical_attrs 100 100  333    0       0     0     0>
            , <&key_physical_attrs 100 100  439   53       0     0     0>
            , <&key_physical_attrs 100 100  544   71       0     0     0>
            , <&key_physical_attrs 100 100 1098   71       0     0     0>
            , <&key_physical_attrs 100 100 1204   53       0     0     0>
            , <&key_physical_attrs 100 100 1310    0       0     0     0>
            , <&key_physical_attrs 100 100 1431   61     400  1481   111>
            , <&key_physical_attrs 100 100 1552  147    1000  1602   197>
            , <&key_physical_attrs 100 100    0  248 (-1000)    50   298>
            , <&key_physical_attrs 100 100  109  257 (-1000)   159   307>
            , <&key_physical_attrs 100 100  219  173  (-400)   269   223>
            , <&key_physical_attrs 100 100  333  112       0     0     0>
            , <&key_physical_attrs 100 100  439  165       0     0     0>
            , <&key_physical_attrs 100 100  544  183       0     0     0>
            , <&key_physical_attrs 100 100 1098  183       0     0     0>
            , <&key_physical_attrs 100 100 1204  165       0     0     0>
            , <&key_physical_attrs 100 100 1310  112       0     0     0>
            , <&key_physical_attrs 100 100 1423  173     400  1473   223>
            , <&key_physical_attrs 100 100 1534  257    1000  1584   307>
            , <&key_physical_attrs 100 100 1642  248    1000  1692   298>
            , <&key_physical_attrs 100 100   18  358 (-1000)    68   408>
            , <&key_physical_attrs 100 100  127  368 (-1000)   177   418>
            , <&key_physical_attrs 100 100  226  285  (-400)   276   335>
            , <&key_physical_attrs 100 100  333  224       0     0     0>
            , <&key_physical_attrs 100 100  439  277       0     0     0>
            , <&key_physical_attrs 100 100  544  295       0     0     0>
            , <&key_physical_attrs 100 100 1098  295       0     0     0>
            , <&key_physical_attrs 100 100 1204  277       0     0     0>
            , <&key_physical_attrs 100 100 1310  224       0     0     0>
            , <&key_physical_attrs 100 100 1416  285     400  1466   335>
            , <&key_physical_attrs 100 100 1515  368    1000  1565   418>
            , <&key_physical_attrs 100 100 1624  358    1000  1674   408>
            , <&key_physical_attrs 100 100  422  406       0     0     0>
            , <&key_physical_attrs 100 100  540  423    1500   590   473>
            , <&key_physical_attrs 100 100  649  472    3000   699   522>
            , <&key_physical_attrs 100 100  742  549 (-4500)   792   599>
            , <&key_physical_attrs 100 100  900  549    4500   950   599>
            , <&key_physical_attrs 100 100  994  472 (-3000)  1044   522>
            , <&key_physical_attrs 100 100 1103  423 (-1500)  1153   473>
            , <&key_physical_attrs 100 100 1220  406       0     0     0>
            ;
    };
};