#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Klor";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   86  131 (-1000)   136   181>
            , <&key_physical_attrs 100 100  201   55  (-400)   251   105>
            , <&key_physical_attrs 100 100  315    0       0   315     0>
            , <&key_physical_attrs 100 100  416   47       0   416    47>
            , <&key_physical_attrs 100 100  515   63       0   515    63>
            , <&key_physical_attrs 100 100 1088   63       0  1088    63>
            , <&key_physical_attrs 100 100 1188   47       0  1188    47>
            , <&key_physical_attrs 100 100 1288    0       0  1288     0>
            , <&key_physical_attrs 100 100 1403   55     400  1453   105>
            , <&key_physical_attrs 100 100 1518  131    1000  1568   181>
            , <&key_physical_attrs 100 100    0  222 (-1000)    50   272>
            , <&key_physical_attrs 100 100  103  230 (-1000)   153   280>
            , <&key_physical_attrs 100 100  208  155  (-400)   258   205>
            , <&key_physical_attrs 100 100  315  100       0   315   100>
            , <&key_physical_attrs 100 100  416  148       0   416   148>
            , <&key_physical_attrs 100 100  515  164       0   515   164>
            , <&key_physical_attrs 100 100 1088  164       0  1088   164>
            , <&key_physical_attrs 100 100 1188  148       0  1188   148>
            , <&key_physical_attrs 100 100 1288  100       0  1288   100>
            , <&key_physical_attrs 100 100 1396  155     400  1446   205>
            , <&key_physical_attrs 100 100 1500  230    1000  1550   280>
            , <&key_physical_attrs 100 100 1603  222    1000  1653   272>
            , <&key_physical_attrs 100 100   17  320 (-1000)    67   370>
            , <&key_physical_attrs 100 100  121  329 (-1000)   171   379>
            , <&key_physical_attrs 100 100  215  255  (-400)   265   305>
            , <&key_physical_attrs 100 100  315  201       0   315   201>
            , <&key_physical_attrs 100 100  416  248       0   416   248>
            , <&key_physical_attrs 100 100  515  264       0   515   264>
            , <&key_physical_attrs 100 100 1088  264       0  1088   264>
            , <&key_physical_attrs 100 100 1188  248       0  1188   248>
            , <&key_physical_attrs 100 100 1288  201       0  1288   201>
            , <&key_physical_attrs 100 100 1389  255     400  1439   305>
            , <&key_physical_attrs 100 100 1483  329    1000  1533   379>
            , <&key_physical_attrs 100 100 1586  320    1000  1636   370>
            , <&key_physical_attrs 100 100  511  379    1500   561   429>
            , <&key_physical_attrs 100 100  614  422    3000   664   472>
            , <&key_physical_attrs 100 100  703  491 (-4500)   753   541>
            , <&key_physical_attrs 100 100  900  491    4500   950   541>
            , <&key_physical_attrs 100 100  989  422 (-3000)  1039   472>
            , <&key_physical_attrs 100 100 1092  379 (-1500)  1142   429>
            , <&key_physical_attrs 100 100  188  509       0   188   509>
            , <&key_physical_attrs 100 100  288  609       0   288   609>
            , <&key_physical_attrs 100 100  288  509       0   288   509>
            , <&key_physical_attrs 100 100  288  409       0   288   409>
            , <&key_physical_attrs 100 100  388  509       0   388   509>
            , <&key_physical_attrs 100 100 1216  509       0  1216   509>
            , <&key_physical_attrs 100 100 1316  409       0  1316   409>
            , <&key_physical_attrs 100 100 1316  509       0  1316   509>
            , <&key_physical_attrs 100 100 1316  609       0  1316   609>
            , <&key_physical_attrs 100 100 1416  509       0  1416   509>
            ;
    };
};