#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Michila";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   59       0     0     0>
            , <&key_physical_attrs 100 100  100   59       0     0     0>
            , <&key_physical_attrs 100 100  200   34       0     0     0>
            , <&key_physical_attrs 100 100  301   22       0     0     0>
            , <&key_physical_attrs 100 100  401   34       0     0     0>
            , <&key_physical_attrs 100 100  501   47       0     0     0>
            , <&key_physical_attrs 100 100  716    0       0     0     0>
            , <&key_physical_attrs 100 100 1097    0       0     0     0>
            , <&key_physical_attrs 100 100 1312   47       0     0     0>
            , <&key_physical_attrs 100 100 1412   34       0     0     0>
            , <&key_physical_attrs 100 100 1512   22       0     0     0>
            , <&key_physical_attrs 100 100 1613   34       0     0     0>
            , <&key_physical_attrs 100 100 1713   59       0     0     0>
            , <&key_physical_attrs 100 100 1813   59       0     0     0>
            , <&key_physical_attrs 100 100    0  160       0     0     0>
            , <&key_physical_attrs 100 100  100  160       0     0     0>
            , <&key_physical_attrs 100 100  200  135       0     0     0>
            , <&key_physical_attrs 100 100  301  122       0     0     0>
            , <&key_physical_attrs 100 100  401  135       0     0     0>
            , <&key_physical_attrs 100 100  501  147       0     0     0>
            , <&key_physical_attrs 100 100  618   96       0     0     0>
            , <&key_physical_attrs 100 100 1195   96       0     0     0>
            , <&key_physical_attrs 100 100 1312  147       0     0     0>
            , <&key_physical_attrs 100 100 1412  135       0     0     0>
            , <&key_physical_attrs 100 100 1512  122       0     0     0>
            , <&key_physical_attrs 100 100 1613  135       0     0     0>
            , <&key_physical_attrs 100 100 1713  160       0     0     0>
            , <&key_physical_attrs 100 100 1813  160       0     0     0>
            , <&key_physical_attrs 100 100    0  260       0     0     0>
            , <&key_physical_attrs 100 100  100  260       0     0     0>
            , <&key_physical_attrs 100 100  200  235       0     0     0>
            , <&key_physical_attrs 100 100  301  222       0     0     0>
            , <&key_physical_attrs 100 100  401  235       0     0     0>
            , <&key_physical_attrs 100 100  501  247       0     0     0>
            , <&key_physical_attrs 100 100  813   96       0     0     0>
            , <&key_physical_attrs 100 100 1000   96       0     0     0>
            , <&key_physical_attrs 100 100 1312  247       0     0     0>
            , <&key_physical_attrs 100 100 1412  235       0     0     0>
            , <&key_physical_attrs 100 100 1512  222       0     0     0>
            , <&key_physical_attrs 100 100 1613  235       0     0     0>
            , <&key_physical_attrs 100 100 1713  260       0     0     0>
            , <&key_physical_attrs 100 100 1813  260       0     0     0>
            , <&key_physical_attrs 100 100  716   96       0     0     0>
            , <&key_physical_attrs 100 100  351  348       0     0     0>
            , <&key_physical_attrs 100 100  461  359    1194   511   409>
            , <&key_physical_attrs 100 100  575  370    2388   625   420>
            , <&key_physical_attrs 100 100  602  247       0     0     0>
            , <&key_physical_attrs 100 100  717  195       0     0     0>
            , <&key_physical_attrs 100 100 1096  195       0     0     0>
            , <&key_physical_attrs 100 100 1212  247       0     0     0>
            , <&key_physical_attrs 100 100 1238  370 (-2388)  1288   420>
            , <&key_physical_attrs 100 100 1353  359 (-1194)  1403   409>
            , <&key_physical_attrs 100 100 1462  348       0     0     0>
            , <&key_physical_attrs 100 100 1097   96       0     0     0>
            ;
    };
};