#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "dactyl";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   25   38       0     0     0>
            , <&key_physical_attrs 100 100  125   38       0     0     0>
            , <&key_physical_attrs 100 100  225   12       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425   12       0     0     0>
            , <&key_physical_attrs 100 100  525   25       0     0     0>
            , <&key_physical_attrs 100 100 1100   25       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   12       0     0     0>
            , <&key_physical_attrs 100 100 1500   38       0     0     0>
            , <&key_physical_attrs 100 100 1600   38       0     0     0>
            , <&key_physical_attrs 100 100   25  138       0     0     0>
            , <&key_physical_attrs 100 100  125  138       0     0     0>
            , <&key_physical_attrs 100 100  225  112       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  112       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100 1100  125       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  112       0     0     0>
            , <&key_physical_attrs 100 100 1500  138       0     0     0>
            , <&key_physical_attrs 100 100 1600  138       0     0     0>
            , <&key_physical_attrs 100 100   25  238       0     0     0>
            , <&key_physical_attrs 100 100  125  238       0     0     0>
            , <&key_physical_attrs 100 100  225  212       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  212       0     0     0>
            , <&key_physical_attrs 100 100  525  225       0     0     0>
            , <&key_physical_attrs 100 100 1100  225       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  212       0     0     0>
            , <&key_physical_attrs 100 100 1500  238       0     0     0>
            , <&key_physical_attrs 100 100 1600  238       0     0     0>
            , <&key_physical_attrs 100 100   25  338       0     0     0>
            , <&key_physical_attrs 100 100  125  338       0     0     0>
            , <&key_physical_attrs 100 100  225  312       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  312       0     0     0>
            , <&key_physical_attrs 100 100  525  325       0     0     0>
            , <&key_physical_attrs 100 100  650  325       0     0     0>
            , <&key_physical_attrs 100 100  975  325       0     0     0>
            , <&key_physical_attrs 100 100 1100  325       0     0     0>
            , <&key_physical_attrs 100 100 1200  312       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  312       0     0     0>
            , <&key_physical_attrs 100 100 1500  338       0     0     0>
            , <&key_physical_attrs 100 100 1600  338       0     0     0>
            , <&key_physical_attrs 100 100  225  412       0     0     0>
            , <&key_physical_attrs 100 100  325  400       0     0     0>
            , <&key_physical_attrs 100 100  450  438       0     0     0>
            , <&key_physical_attrs 100 100  700  388    1600   450     0>
            , <&key_physical_attrs 100 100  700  750    3300  1150   650>
            , <&key_physical_attrs 100 100  925  750 (-3300)   575   650>
            , <&key_physical_attrs 100 100  925  388 (-1600)  1275     0>
            , <&key_physical_attrs 100 100 1175  438       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  412       0     0     0>
            , <&key_physical_attrs 100 100    0  600       0     0     0>
            , <&key_physical_attrs 100 100  100  500       0     0     0>
            , <&key_physical_attrs 100 100  100  600       0     0     0>
            , <&key_physical_attrs 100 100  100  700       0     0     0>
            , <&key_physical_attrs 100 100  200  600       0     0     0>
            , <&key_physical_attrs 100 100  550  538     800   450    75>
            , <&key_physical_attrs 100 100  750  513    2500   550   250>
            , <&key_physical_attrs 100 100  875  513 (-2500)  1175   250>
            , <&key_physical_attrs 100 100 1075  538  (-800)  1275    75>
            , <&key_physical_attrs 100 100 1425  600       0     0     0>
            , <&key_physical_attrs 100 100 1525  700       0     0     0>
            , <&key_physical_attrs 100 100 1525  600       0     0     0>
            , <&key_physical_attrs 100 100 1525  500       0     0     0>
            , <&key_physical_attrs 100 100 1625  600       0     0     0>
            ;
    };
};